

{{#each records}}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title">

    <canvas id="chart-{{this._id}}" width="800" height="110"></canvas>

    <!-- <h2 class="mdl-card__title-text"></h2> -->
  </div>

  <!-- <div class="mdl-card__supporting-text">

  </div> -->

  <div class="mdl-card__actions mdl-card--border">

    <span class="search-title"> {{this.target}} </span>

    <span>
        <a class="buttoncolor mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Update
        </a>

        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Delete
        </a>
    </span>

  </div>

  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">favorite</i>
    </button>
  </div>

</div>


<script>

var ctx = document.getElementById("chart-{{this._id}}").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels:  {{{ safeString this.titles }}},
        datasets: [{
            label: 'Price',
            data: {{{ safeString this.prices }}},
            backgroundColor: 'magenta',
            borderWidth: 1
        }]
    },
    options: {
        hover: {
          animationDuration: 0
        },
        legend: {
          display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [{
                display: false
              }]
        }
    }
});

</script>


{{/each}}
